<h2>Prénom : <%= @player.name %></h2>
<h2>Date de naissance : <%= @player.age %></h2>
<h2>ELO : <%= @player.elo %></h2>

<a href="<%= players_path %>" class = "btn btn-primary">Revenir aux autres joueurs</a>